/* ! Header  */
#navbar img {
  height: 50px;
}
.fa-bell {
  color: orangered;
}

/* ! MAIN */
/* Sidebar ------------------------------------- */

#sidebar > div {
  height: 100%;
}
.icons {
  padding: 3px 0;
}
.icons a {
  text-decoration: none;
}

/* Dashboard Header Section -------------------------- */
.new-student button {
  height: 40px;
  width: 40px;
}

/* Dashboard Cards Section -------------------------------- */
/* Table ------ */
#dashboard .table img {
  height: 30px;
}

.table-start-date {
  width: 140px;
}
.table-roi {
  width: 100px;
}
.table-state {
  width: 80px;
  text-align: center;
}
.table-actions {
  width: 130px;
  text-align: center;
}

/* TODO fix Layout  */

header #navbar {
  min-height: 80px;
  background-color: darkcyan;
}
#sidebar {
  min-width: 60px;
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
  color: white;
}
#dashboard {
  height: calc(100vh - 80px);
  background-color: #555;
  width: 100%;
  overflow-y: auto;
}

/* LAPTOP --------------------------------- */
@media screen and (min-width: 992px) {
  #sidebar {
    min-width: 130px;
  }
  .icons i {
    width: 30px;
  }
}
