/* ! Header  */
#navbar img {
  height: 50px;
}
#navbar .full-screen-logo {
  height: 35px;
}
.fa-bell {
  color: orangered;
}

/* ! MAIN */
/* Sidebar ------------------------------------- */

#sidebar > div {
  height: 100%;
}
.icons {
  padding: 3px 0;
}
.icons a {
  text-decoration: none;
}

#sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
#sidebar .top-side div:hover,
#sidebar .bot-side div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Dashboard Header Section -------------------------- */
.new-student button {
  height: 40px;
  width: 40px;
}
#dashboard .badge.rounded-pill {
  background-color: #165bba;
}

/* Dashboard Cards Section -------------------------------- */
/* Table ------ */
#dashboard .table img {
  height: 30px;
}

.table-start-date {
  width: 120px;
}
.table-roi {
  width: 50px;
}
.table-state {
  width: 80px;
  text-align: center;
}
.table-actions {
  width: 130px;
  text-align: center;
}
/* TODO fix Layout  */

header #navbar {
  min-height: 80px;
  background-color: darkcyan;
}
#sidebar {
  flex: 0 0 60px;
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
  color: white;
}
#dashboard {
  height: calc(100vh - 80px);
  flex: 1 1 auto;
  overflow-y: auto;
}

/* breakpoints:
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px;
 */
/* MOBILE --------------------------------- */
@media screen and (min-width: 0) {
  .offcanvas.offcanvas-end {
    width: 100%;
  }
}
/* LAPTOP --------------------------------- */
@media screen and (min-width: 992px) {
  #sidebar {
    flex-basis: 130px;
  }
  .icons i {
    width: 30px;
  }
  .offcanvas.offcanvas-end {
    width: 50%;
  }
}
